@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;

        &:hover {
            --fix: ; /* This custom property invalidates styles on hover, thereby enforcing a style recomputation. This is needed to work around a bug in Safari. */
        }

        /* Legacy browsers with `::-webkit-scrollbar-*` support */
        @supports selector(::-webkit-scrollbar) {
            &::-webkit-scrollbar,
            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-track:hover,
            &::-webkit-scrollbar-corner,
            &::-webkit-scrollbar:horizontal {
                @apply liq-bg-transparent;
            }
            &::-webkit-scrollbar {
                @apply liq-h-2 liq-w-2;
            }
            &::-webkit-scrollbar:horizontal {
                @apply liq-h-2;
            }
            &::-webkit-scrollbar-thumb,
            &::-webkit-scrollbar-thumb:horizontal {
                @apply liq-rounded-lg liq-border-2 liq-border-solid liq-border-transparent liq-bg-neutral-700;
            }
            &::-webkit-scrollbar-thumb:hover {
                @apply liq-border-2 liq-border-solid liq-border-transparent liq-bg-neutral-600;
            }
            &::-webkit-scrollbar-button {
                @apply liq-hidden;
            }
            &::-webkit-resizer {
                @apply liq-bg-transparent;
            }
        }
    }
}

@layer components {
    .styled-chain-select {
        .styled-chain-select__control {
            @apply !liq-bg-neutral-750 !liq-p-0.5 !liq-rounded-xl;
            border-color: transparent !important;
            cursor: pointer !important;


            &:hover {
                border-color: transparent !important;
                @apply !liq-bg-neutral-700;
            }

            &:hover .styled-chain-select__indicator {
                @apply !liq-fill-neutral-200 !liq-text-neutral-200;
            }
        }

        .styled-chain-select__control--is-focused {
            border-color: transparent !important;
        }

        .styled-chain-select__placeholder {
            @apply liq-text-neutral-300;
        }

        .styled-chain-select__single-value {
            @apply !liq-text-neutral-200 liq-bg-transparent;
        }

        .styled-chain-select__menu {
            @apply !liq-bg-neutral-700 !liq-w-auto liq-min-w-full liq-border liq-border-neutral-600 !liq-rounded liq-shadow-none;
        }

        .styled-chain-select-notice--no-options {
            font-size: 1rem;
        }

        .styled-chain-select__menu-list {
            @apply scrollbar-thin;
        }

        .styled-chain-select__option--is-selected,
        .styled-chain-select__option--is-focused {
            &:not(.styled-chain-select__option--is-disabled) {
                @apply !liq-bg-neutral-650;
            }
            @apply !liq-bg-neutral-500;
        }

        .styled-chain-select__option--is-disabled {
            @apply !liq-text-neutral-400;
        }

        .styled-chain-select__indicator {
            @apply !liq-fill-neutral-400 !liq-text-neutral-400 liq-transition;
        }

        .styled-chain-select-container {
            .styled-chain-select__control {
                @apply liq-shadow-none liq-bg-neutral-700 liq-border liq-border-neutral-700 liq-cursor-pointer;
            }
        }
    }
}