.styled-chain-select {
    @apply !bg-red-750 !rounded-xl;

    &.fullsize {
        .styled-select__control {
            box-shadow: none;
        }
    }

    & __control {
        @apply !bg-neutral-750;
        @apply !rounded-xl;
        border-color: transparent !important;
        cursor: pointer !important;

        & --is-focused {
            border-color: transparent !important;
        }

        &:hover {
            border-color: transparent !important;
        }

        &.styled-select__control--is-focused {
            border-color: transparent !important;
        }

        &:hover .styled-select__indicator {
            @apply !fill-neutral-200 !text-neutral-200;
        }
    }

    & __placeholder {
        @apply text-neutral-300;
    }

    & __single-value {
        @apply !text-neutral-400 bg-transparent;

        .chain-name {
            @apply !text-neutral-200;
        }
    }

    & __menu {
        @apply !bg-neutral-750 !w-auto min-w-full border border-neutral-650 !rounded shadow-none;

        & -notice--no-options {
            font-size: 1rem;
        }
    }

    & __menu-list {
        @apply scrollbar-thin;
    }

    & __option {
        & --is-selected,
        & --is-focused {
            &:not(&--is-disabled) {
                @apply !bg-neutral-650;
            }


            @apply !bg-neutral-500;
        }
    }

    & __indicator {
        @apply !fill-neutral-400 !text-neutral-400 transition;
    }
}

.styled-select-container {
    .styled-select__control {
        @apply shadow-none bg-neutral-750 border border-neutral-750 cursor-pointer;
    }
}